{% extends 'base/base.twig' %}
{% block content %}

    <h1>CONNEXION</h1>

   <body>
      <h1>Authentification [ <a href="inscription">Créer un compte</a> ]</h1>
      <form method="post" action="connexion">
         <input type="text" name="username" placeholder="Login" /><br />
         <input type="password" name="pass" placeholder="Mot de passe" /><br />
         <button type="submit" class="btn btn-primary">S'authentifier </button>
      </form>

{% endblock %}