{% extends 'base/base.twig' %}

{% block connection %} 
{% if user.username is defined %} 
<p>Bonjours {{user.username}}</p> 
<li><a href="deconnexion">DECONNEXION</a></li>
{% else %}
<li><a href="connexion">CONNEXION</a></li>
{% endif %} 

{% if IsAdmin == true %} 
<li><a href="admin">ADMIN</a></li>
{% endif %}
{% endblock connection %}

{% block content %}
<h1>CONTACT</h1>
</section>

    <!-- section Renseignement -->
    <div class="containerBlockContact">
        <div class="form">
            <h2>Me laisser un petit mot !</h2>
            <form method="post" action="traitementForm">
                <div class="containerFirstLine">
                    <input type="text" name="lastname" placeholder="Nom" required>
                    <input type="text" name="firstname" placeholder="Prenom" required>
                </div>
                <input type="mail" name="email" placeholder="email" required>
                <input type="text" name="numero" placeholder="numero" required>
                <textarea name="message" placeholder="Votre message" cols="30" rows="10" required></textarea>
                <input type="submit" value="Envoyer">
            </form>
        </div>
        <div class="blockCarte">
        <!-- section Google Maps -->
            <h2>Mon Adresse</h2>
            <iframe id="Maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1396.9522690406031!2d-0.2559689151092538!3d47.512522139302895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48080b4c580d8275%3A0xf225f499519dac3a!2sLe%20village%20des%20bois!5e0!3m2!1sfr!2sfr!4v1615301204763!5m2!1sfr!2sfr" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="rs">
        <li>
            <a target="_blank" href="https://www.linkedin.com/in/killian-sieniski-371846194/"><i class="fa fa-linkedin-square" aria-hidden="true"></i>&nbsp; linkedin</a>
        </li>

        <li>
            <a target="_blank" href="https://github.com/TheKller29"><i class="fa fa-github" aria-hidden="true"></i>&nbsp; github</a>
        </li>
    </div>

{% endblock %}