{% extends 'base/base.twig' %}
{% block css %}..\{% endblock %}
{% block photo %}..\{% endblock %}
{% block liens1 %}..\{% endblock %}
{% block liens2 %}..\{% endblock %}
{% block liens3 %}..\{% endblock %}
{% block liens4 %}..\{% endblock %}

{% block connection %} 
{% if user.username is defined %} 
<p>Bonjours {{user.username}}</p> 
<li><a href="deconnexion">DECONNEXION</a></li>
{% else %}
<li><a href="connexion">CONNEXION</a></li>
{% endif %} 

{% if IsAdmin == true %} 
<li><a href="admin">ADMIN</a></li>
{% endif %}
{% endblock connection %}

{% block content %}
    
    <h1>Création de Commentaire</h1>

    
    <form name="register" method="post" action="createPost">
    <input type="hidden" name="post_id" value="{{post_id}}">
    <textarea name="comment" placeholder="Commentaire" ></textarea><br />
    <input type="submit" name="valider" value="Crée le commentaire" />
    </form>

    <button type="submit" class="btn btn-primary"><a href="../blog">Retour Blog </a></button>


{% endblock %}