{% extends 'base/base.twig' %}

{% block connection %} 
{% if user.username is defined %} 
<p>Bonjours {{user.username}}</p> 
<li><a href="deconnexion">DECONNEXION</a></li>
{% else %}
<li><a href="connexion">CONNEXION</a></li>
{% endif %} 

{% if IsAdmin == true %} 
<li><a href="admin">ADMIN</a></li>
{% endif %}
{% endblock connection %}


{% block content %}
<!-- section images titre -->
<section class="CV-titre">
        <h1><a href="Public/assets/doc/CV-2021.pdf">CV</a></h1>
</section>

<div class="mid_block">
        <div class="mid_title">
            <h2><u>+ D'infos :</u></h2>
        </div>
        <div class="mid_text">
            <p class="mid_p">
                Pour + d'information je vous laisse aller sur la page <a href="contact">contact</a>.</br>
            </p>
        </div>
    </div>

{% endblock %}