<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>header</title>
  <link rel="stylesheet" href="Public/assets/css/main.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>
<body class="index">

    <!-- Header -->
    <section class="header_title">
    <header>
        <div class="box_header">
            <img class="logo" src="Public/assets/img/moi.jpg" alt="">
            <ul class="links">
                <li><a href="home">ACCUEIL</a></li>
                <li><a href="blog">BLOG</a></li>
                <li><a href="cv">CV</a></li>
                <li><a href="contact">CONTACT</a></li>
            </ul>
            <div class="connect">
                <li><a href="connexion">CONNEXION</a></li>
            </div>
        </div>
    </header>

    {% block content %} 

    {% endblock %} 


       <!-- Footer -->
   <section class="footer">
        <div class="box_footer">
            <!-- centre -->
            <div class="footer_center">
                &copy; 2021 - Killian Sieniski
            </div>
            <!-- droite -->
            <div class="footer_right">
                <ul class="footer_links">
                    <ul class="menu_bas">
                        <li>
                            <a href="legal.html" title="Mentions légal">Mentions légal</a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </section>


</body>
</html>