{% extends 'base/baseAdmin.twig' %}

{% block headLinks %}
	<li>
		<a href="usersListe">Retour</a>
	</li>
{% endblock headLinks %}

{% block content %}

	<h1>Utilisateur Supprimer</h1>


{% endblock %}
